#search-container {
    display: flex;
}

#search {
    width: 100%;
    border: none;
    border-radius: 0 5px 5px 0;
    color: var(--brand-white);
}

#search::placeholder {
    color: var(--brand-white);
}

#search:focus {
    outline: none;
}

#search-icon {
    border-radius: 5px 0 0 5px;
    padding: 3px 10px;
    height: 50px;
    display: flex;
    align-items: center;
}

#search-icon > div {
    display: flex;
    align-items: center;
}

#search-icon svg {
    padding-bottom: 0;
    width: 16px;
    
}